.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.back-to-top-button.visible {
  opacity: 1;
}

.btn_ripple {
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  background-color: #14a800;
  padding: 10px;
  box-shadow: 5px 5px 38px black;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #fff;

  animation-name: ripple;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.btn_ripple:hover {
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  background-color: #fc3a40;
  padding: 10px;
  box-shadow: 5px 5px 38px black;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #fff;

  animation-name: ripple;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #14a80044, 0 0 0 0 #14a80044;
  }

  80% {
    box-shadow: 0 0 0 10px #14a8002e, 0 0 0 20px #14a8002e;
  }

  100% {
    box-shadow: 0 0 0 0 #14a8001d, 0 0 0 0 #14a8001d;
  }
}
